body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #D36D6D;
    background-color: #f9f1f1; /* Fond doux pour bien faire ressortir la couleur du texte */
}

 /* Style du Header */
 header {
    background-color: #D36D6D; /* Rose doux */
    color: white;
    text-align: center;
    padding: 30px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Logo ou image dans le header */
header img {
    max-width: 60px;
    height: auto;
    margin-bottom: 15px;
}

/* Titre du header */
header h1 {
    font-size: 2.5em;
    margin: 0;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Navigation du header */
nav {
    margin-top: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    margin: 0 15px;
    padding: 8px 15px;
    background-color: #F7A8B8; /* Couleur complémentaire */
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #F7D4D4; /* Légèrement plus clair pour le survol */
}
.main {
    display: flex;
    height: 100vh;
}

#coeur1 {
    text-align:right;
    text-align: center;
    cursor: pointer;
    padding: 20px;
    width: 25%;
}
#coeur {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
#coeur:hover{
    transform:scale(0.9) ;
}
#coeur:active {
    transform: rotate(-30deg) scale(1.2); /* Rotation de 45 degrés lors du clic */
}

#text {
    color: #D36D6D;
    display: none;  /* Cache le texte au départ */
    opacity: 0;
    transform: translateY(80px); /* Légèrement au-dessus de la position */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    width: 70%;
}
 /* Style du Footer */
 footer {
    background-color: #D36D6D; /* Fond rose doux */
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    font-style: italic;
}

footer a {
    color: #F7A8B8;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
